## Control Flow

Recap Task

Below is a vector containing the first 5 prime numbers

primes = [1, 2, 3, 5, 7]
Oops, 1 isn't prime. Remove it from the list.

Now add the next 3 prime numbers (11, 13, 17).

Now use the method reverse() to reverse the list. Print out the reversed list.

In [2]:
primes = [1, 2, 3, 5, 7]

In [11]:
primes

[17, 13, 11, 7, 5, 3, 2]

In [6]:
primes

[2, 3, 5, 7]

In [7]:
primes.extend([11, 13, 17])

In [8]:
primes

[2, 3, 5, 7, 11, 13, 17]

In [9]:
primes.reverse()

In [10]:
primes

[17, 13, 11, 7, 5, 3, 2]

## Dictionaries

These are a lot like lists in R.

In [12]:
person_info = {
    'name' : 'David',
    'age' : 17
}

In [13]:
person_info

{'name': 'David', 'age': 17}

In [14]:
person_info2 = {
    'name' : 'James',
    'name' : 'Jamie',
    'age' : 21
}

In [15]:
(person_info2['name'])

'Jamie'

Dictionary facts

key names must be unique

any after usage of a keyname will overwrite the k:v pair

key names should be strings

In [16]:
person_info2['name']

'Jamie'

squiggly brackets for defining your dictionary

square brackets for indexing your dictionary

In [17]:
person_info.keys()

dict_keys(['name', 'age'])

In [18]:
person_info.items()

dict_items([('name', 'David'), ('age', 17)])

Last useful bit

`python` equivalent of `R`s `length()`, is `len()`

In [19]:
len(person_info)

2

In [21]:
student_info = {
    'Agnes' : 68,
    'Bobby' : 45,
    'Charlie' : {'age': 33,
                'gender': 'Female'}
}

In [23]:
student_info['Charlie']['gender']

'Female'

Updating a dictionary

First way

In [26]:
student_info['David'] = {'age' : 28, 'gender' : 'Male'}

In [27]:
student_info

{'Agnes': 68,
 'Bobby': 45,
 'Charlie': {'age': 33, 'gender': 'Female'},
 'David': {'age': 28, 'gender': 'Male'}}

Second way (is a method)

In [28]:
student_info.update({'Elaine' : {'age' : 23, 'gender' : 'Non-binary'}})

In [29]:
student_info

{'Agnes': 68,
 'Bobby': 45,
 'Charlie': {'age': 33, 'gender': 'Female'},
 'David': {'age': 28, 'gender': 'Male'},
 'Elaine': {'age': 23, 'gender': 'Non-binary'}}

In [30]:
student_info.pop('David')

{'age': 28, 'gender': 'Male'}

In [31]:
student_info

{'Agnes': 68,
 'Bobby': 45,
 'Charlie': {'age': 33, 'gender': 'Female'},
 'Elaine': {'age': 23, 'gender': 'Non-binary'}}

## Actually Starting the Control Flow Lesson

<strong> Python is indentation sensitive!!

In [ ]:
# R code
# not run
if (temp > 20) {
    print ("heatwave warning")
}

In [32]:
temperature = 21
if temperature > 20: 
    print('Heatwave warning')

Heatwave warning

In [ ]:
if condition:
    do
    
# the indentation is very important - it is part of the code.

If elif else

In [35]:
temperature = 16

if temperature > 20:
    print('Heatwave')
elif temperature < 10:
    print('cold')
else:
    print('Moderate')

Moderate

## Loops

In [36]:
numbers = [1, 2, 3, 4]

# for loop

for number in numbers:
    print(number * 3)

3
6
9
12

One thing that can be useful - looping through a dictionary

In [37]:
person = {
    'name' : 'David',
    'age' : 28,
    'languages' : ['R', 'Python', 'SQL']
}

In [38]:
person

{'name': 'David', 'age': 28, 'languages': ['R', 'Python', 'SQL']}

In [39]:
for key in person.keys():
    print(key)

name
age
languages

In [41]:
for value in person.values():
    print(value)

David
28
['R', 'Python', 'SQL']

let's combine our control flows together

- if logic
- `for` loops

In [42]:
numbers = [13, 16, 20, 31, 7, 8, -1, 25, 0.5]

### Goal: Create a list of the even integers in numbers

In [52]:
# 1. create empty list

even_numbers = []
# 2. iterate through list of nums

for number in numbers:
    #3. check if current num is even
    if number % 2 == 0:
        #4. add num to list of even numbers
        even_numbers.append(num)
    
even_numbers

[0.5, 0.5, 0.5]

For the numbers 1 to 100, print the number. If the number is divisble by 3, print "Fizz". If it's divisible by 5 print 5, print "Buzz", and if it's divisible by 3 and 5, print "FizzBuzz"

In [57]:
numbers = range(1, 101)
for number in numbers:
    if number % 15 == 0:
        print('FizzBuzz')
    elif number % 5 == 0:
        print('Buzz')
    elif number % 3 == 0:
        print('Fizz')
    else:
        print(number)

1
2
Fizz
4
Buzz
Fizz
7
8
Fizz
Buzz
11
Fizz
13
14
FizzBuzz
16
17
Fizz
19
Buzz
Fizz
22
23
Fizz
Buzz
26
Fizz
28
29
FizzBuzz
31
32
Fizz
34
Buzz
Fizz
37
38
Fizz
Buzz
41
Fizz
43
44
FizzBuzz
46
47
Fizz
49
Buzz
Fizz
52
53
Fizz
Buzz
56
Fizz
58
59
FizzBuzz
61
62
Fizz
64
Buzz
Fizz
67
68
Fizz
Buzz
71
Fizz
73
74
FizzBuzz
76
77
Fizz
79
Buzz
Fizz
82
83
Fizz
Buzz
86
Fizz
88
89
FizzBuzz
91
92
Fizz
94
Buzz
Fizz
97
98
Fizz
Buzz

## List comprehensions

- (speedy loops)

In [59]:
numbers_squared = []

numbers = [1, 2, 3, 4]

for number in numbers:
    numbers_squared.append(number ** 2)
    
numbers_squared

[1, 4, 9, 16]

In [60]:
numbers_squared = []

In [61]:
numbers_squared = [number ** 2 for number in numbers]

In [62]:
numbers_squared

[1, 4, 9, 16]

new_list = [operated-on item for item in old_list]

In [64]:
multiples_of_12 = []

In [65]:
for number in range(101):
    
    if number % 12 == 0:
        multiples_of_12.append(number)

multiples_of_12

[0, 12, 24, 36, 48, 60, 72, 84, 96]

In [66]:
multiples_of_12 = []

In [67]:
multiples_of_12 = [number for number in range(101) if number % 12 == 0]

In [68]:
multiples_of_12

[0, 12, 24, 36, 48, 60, 72, 84, 96]

## Dictionary comprehensions

are a thing too

In [69]:
fruits = ['apple', 'orange', 'pineapple']

In [71]:
length_of_fruits = {fruit:len(fruit) for fruit in fruits}
length_of_fruits

{'apple': 5, 'orange': 6, 'pineapple': 9}

Task

Rewrite these

first loop  
primes = []
for i in range(2, 100):
    if i % 2 != 0 and i % 3 != 0 and i % 5 != 0 and i % 7 !=0 and i % 11 != 0:
        primes.append(i)

second loop  
ordinal_dict = {}

for number in range(4, 11):
    ordinal_dict[number] = str(number) + 'th'

In [74]:
# from
primes = []
for i in range(2, 100):
    if i % 2 != 0 and i % 3 != 0 and i % 5 != 0 and i % 7 !=0 and i % 11 != 0:
        primes.append(i)

# to

primes = [i for i in range(2, 100) if i % 2 != 0 and i % 3 != 0 and i % 5 != 0 and i % 7 !=0 and i % 11 != 0]
primes

[13,
 17,
 19,
 23,
 29,
 31,
 37,
 41,
 43,
 47,
 53,
 59,
 61,
 67,
 71,
 73,
 79,
 83,
 89,
 97]

In [75]:
#from
ordinal_dict = {}

for number in range(4, 11):
    ordinal_dict[number] = str(number) + 'th'
    
#to

ordinal_dict = {number:str(number) + 'th' for number in range(4, 11)}

In [76]:
ordinal_dict

{4: '4th', 5: '5th', 6: '6th', 7: '7th', 8: '8th', 9: '9th', 10: '10th'}