## Data In Python - Day 2

Numpy, pandas matplotlib and seaborn are the biggest data libraries for python.

Numpy - is NUMerical PYthon.

### Using Numpy

In [1]:
import numpy as np

In [2]:
my_array = np.array([1,2,3])

print(my_array)

[1 2 3]

In [5]:
my_2d_array = np.array([[1,2,3], [4,5,6]])
print(my_2d_array)

[[1 2 3]
 [4 5 6]]

In [6]:
# 1d array
my_array[0]

1

In [10]:
# 2d array
my_2d_array[1,1]

5

In [11]:
# 2d array
my_2d_array[0,1]

2

### Using Pandas

In [12]:
import pandas as pd

In [13]:
# making a dataframe

instructors_data = {
    'name': ['Steph', 'Jamie', 'David', 'Lloyd', 'John'],
    'favourite_number': [7, 12, 3, 9, 4]
}

instructors_data

{'name': ['Steph', 'Jamie', 'David', 'Lloyd', 'John'],
 'favourite_number': [7, 12, 3, 9, 4]}

In [14]:
type(instructors_data)

dict

In [15]:
instructors_dataframe = pd.DataFrame(instructors_data)

In [17]:
instructors_dataframe

    name  favourite_number
0  Steph                 7
1  Jamie                12
2  David                 3
3  Lloyd                 9
4   John                 4

In [19]:
instructors_dataframe = pd.DataFrame({
    'name': ['Steph', 'Jamie', 'David', 'Lloyd', 'John'],
    'favourite_number': [7, 12, 3, 9, 4]},
    index = [1,2,3,4,5]
)

instructors_dataframe

    name  favourite_number
1  Steph                 7
2  Jamie                12
3  David                 3
4  Lloyd                 9
5   John                 4

### Data manipulation and analysis in python with Pandas